.nav-holder {
  background-color: $main-nav-bg;
  min-height: 100vh;
  min-width: 260px;
  display: none;
  position: fixed;
  top: 56px;
  left: 0;
}

.main-nav {
  padding: 0;
  ul {
    li {
      a {
        color: $white;
        opacity: .7;

        &:hover {
          background-color: transparent;
          opacity: 1;
        }
      }
    }
  }
}

@include breakpoint(tablet) {

  .nav-holder {
    display: block;
    position: relative;
    top: 0;
  }
}
