table {
  .btn-det-paciente {
    position: absolute;
    top: 50%;
    margin-top: -9px;
  }

  tr {
    td {
      position: relative;
    }
  }
}

.table-striped {
  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: $gallery;
      }
      &:nth-of-type(even) {
        background-color: $white;
      }
    }
  }
}